body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chart-line {
  stroke: black;
}

.chart-element {
  fill: black;
}

.chart-tick {
  stroke: gray;
}

@media (prefers-color-scheme: dark) {
  .chart-line {
    stroke: white;
  }

  .chart-element {
    fill: white;
  }
}